---
import BaseHead from '../../components/BaseHead.astro' 
import Auth from '../../components/Auth.astro'
import AuthLogin from '../../components/AuthLogin.astro';
import Header from '../../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title='login' description='' />
	</head>
	<Auth>
		<Header />		
		
		<main>
			
			<h1>main</h1>
			<h1>main</h1>
			<h1>main</h1>
			<h1>main</h1>
			<h1>main</h1>
		</main>
	
	</Auth>
</html>
