---
import BaseHead from '../components/BaseHead.astro'
import AuthLogin from '../components/AuthLogin.astro';
 

import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);

if (session) {
	return Astro.redirect("main/")
}

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title='login' description='' />
	</head>
	<main>
		<AuthLogin />
	</main>

</html>
